  <!-- ABOUT -->
  <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
    <div class="container">
      <div class="row">

        <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
          <div class="about-text">
            <small class="small-text">Welcome to <span class="mobile-block">my website!</span></small>
            <h1 class="animated animated-text">
              <span class="mr-2">Hello, I'm</span>
              <div class="animated-info">
                <span class="animated-item">Anik</span>
                <span class="animated-item">App Dev</span>
                <span class="animated-item">Flutter Dev</span>
              </div>
            </h1>

            <p>I’m a passionate Senior Mobile Software Engineer who thrives on turning complex ideas into seamless, high-performing apps. At Togumogu Pvt Ltd, I lead the development of the Togumogu Parenting App, optimizing performance, enhancing user experience, and shaping meaningful digital experiences for families.</p>

            <p>With a deep focus on Flutter development, performance tuning, and scalable architecture, I aim to build mobile solutions that are both elegant and impactful. I believe great products aren’t just coded—they’re crafted through empathy, innovation, and precision.</p>
            <div class="custom-btn-group mt-4">
              <a href="https://drive.google.com/file/d/1zH4tzIYXsvXGHMS_Z_7SJdC9Y4bsr87p/view?usp=sharing"
                class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i> Download Resume</a>
              <a href="#contact" class="btn custom-btn custom-btn-bg custom-btn-link">Get a free quote</a>
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-12 col-12">
          <div class="about-image svg">
            <img src="images/undraw/md_mosfeq_anik_Sr_flutter_engineer.png" class="img-fluid" alt="svg image">
          </div>
        </div>

      </div>
    </div>
  </section>
