      <!-- CONTACT -->
      <section class="contact py-5" id="contact">
        <div class="container">
          <div class="row">

            <div class="col-lg-5 mr-lg-5 col-12">
              <div class="google-map w-100">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d58589.619177174755!2d90.3520882!3d23.7994494!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c11f4daeca85%3A0x4ac5a37080d05b44!2sIch%20bin%20fur%20dich%20(software)%20md%20mosfeq%20anik!5e0!3m2!1sen!2sbd!4v1647437502781!5m2!1sen!2sbd" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>

              <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
                  <div class="contact-info-item">
                    <h3 class="mb-3 text-white">Say hello</h3>
                    <p class="footer-text mb-0">At</p>
                    <p><a href="https://www.upwork.com/freelancers/~01fd06f2ada89be11d">Upwork</a></p>
                    <p><a href="https://www.fiverr.com/mosfeqanik_">Fiverr</a></p>
                  </div>

                  <ul class="social-links">
                       <li><a href="https://www.facebook.com/mosfeqanik" class="uil uil-facebook" data-toggle="tooltip" data-placement="left" title="Facebook"></a></li>
                       <li><a href="https://www.linkedin.com/in/mosfeqanik/" class="uil uil-linkedin" data-toggle="tooltip" data-placement="left" title="Linkedin"></a></li>
                       <li><a href="https://www.instagram.com/mosfeqanik/" class="uil uil-instagram" data-toggle="tooltip" data-placement="left" title="Instagram"></a></li>
                       <li><a href="https://www.youtube.com/@mosfeqanik" class="uil uil-youtube" data-toggle="tooltip" data-placement="left" title="Youtube"></a></li>
                       <li><a href="https://x.com/Mosfeqanik_" class="uil uil-twitter" data-toggle="tooltip" data-placement="left" title="Twitter"></a></li>
                  </ul>
              </div>
            </div>

            <div class="col-lg-6 col-12">
              <div class="contact-form">
                <h2 class="mb-4">Interested to work together? Let's talk</h2>

                <form action="https://formspree.io/f/meqylgqa" method="POST" id="contactForm">
                  <div class="row">
                    <div class="col-lg-6 col-12">
                      <input type="text" class="form-control" name="name" placeholder="Your Name" id="name">
                      <span id="nameError" class="form-error" style="display: none;">Please enter your name.</span>
                    </div>

                    <div class="col-lg-6 col-12">
                      <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                      <span id="emailError" class="form-error" style="display: none;">Please enter a valid email.</span>
                    </div>

                    <div class="col-12">
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"></textarea>
                      <span id="messageError" class="form-error" style="display: none;">Please enter a message.</span>
                    </div>

                    <div class="ml-lg-auto col-lg-5 col-12">
                      <input type="submit" class="form-control submit-btn" value="Send Button">
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </section>
