  <!-- PROJECTS -->
  <section class="project py-5" id="project">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 text-center mx-auto col-12">
          <div class="col-lg-8 mx-auto">
            <h2>Things I have designed for digital media agencies</h2>
          </div>

          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image01.jpg" class="img-fluid" alt="project image">
              </div>
            </div>

            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image02.png" class="img-fluid" alt="project image">
              </div>
            </div>

            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image05.jpg" class="img-fluid" alt="project image">
              </div>
            </div>

            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image06.jpg" class="img-fluid" alt="project image">
              </div>
            </div>

            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image07.png" class="img-fluid" alt="project image">
              </div>
            </div>
            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image08.jpg" class="img-fluid" alt="project image">
              </div>
            </div>
            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image09.png" class="img-fluid" alt="project image">
              </div>
            </div>
            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image10.jpg" class="img-fluid" alt="project image">
              </div>
            </div>
            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image11.jpg" class="img-fluid" alt="project image">
              </div>
            </div>
            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image12.png" class="img-fluid" alt="project image">
              </div>
            </div>
            <div class="item">
              <div class="project-info">
                <img src="images/project/project-image13.jpg" class="img-fluid" alt="project image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
