  <!-- Experiences -->
  <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-12">
          <h2 class="mb-4">Experiences</h2>

          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2024</span>
              </div>
              <div class="timeline-info">
                <h3><span>Sr. Software Engineer</span><small>Togumogu PVT Ltd</small></h3>
                <p>Lead a team to develop and provide a solution for the Togumogu Parenting App.Optimized the mobile application performance and enhanced user experience, leading to faster load times and smoother user interactions.Partnered with stakeholders to gather requirements, design solutions, and implement new, high-impact features in mobile applications, enhancing overall functionality and user engagement. Responsible for
                  maintaining Git version control and ensuring regular updates on both. <a rel="nofollow"
                    href="https://apps.apple.com/in/app/togumogu-parenting-app/id1525998180">App Store</a> and <a
                    rel="nofollow" href="https://play.google.com/store/apps/details?id=com.togumogu">Google Play
                    Store</a>.</p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2022-23</span>
              </div>
              <div class="timeline-info">
                <h3><span>Software Engineer</span><small>Dream71 Bangladesh</small></h3>
                <p>1. SSK Survey Rural & Urban: Developed apps for Shasthyo Surokhsha Karmasuchi (SSK) to collect health
                  data. Included dynamic form features, validation, and data caching. <a
                    href="https://play.google.com/store/apps/details?id=bd.gov.ssk.survey.ssksurveyrural"
                    target="_blank">Rural App</a> | <a
                    href="https://play.google.com/store/apps/details?id=bd.gov.ssk.survey.ssksurveyurban"
                    target="_blank">Urban App</a></p>
                <p>2. Cdsp Krishi: Contributed to Krishi Char Development and Settlement Project with file architecture,
                  login system, YouTube streaming, and counseling via audio, image, and video. <a
                    href="https://play.google.com/store/apps/details?id=bd.org.cdsp.cdsp_krishi" target="_blank">App
                    Link</a></p>
                <p>3. BGMEA Cash Incentive: Developed an app for BGMEA cash incentive with OTP login, form submission,
                  and category-based dashboards. </p>
                <p>4. Mochta Citizen & IDSDP Office App: Designed & Developed apps for citizen and office use with user
                  authentication, dashboards, and modules for scheme, scholarship, vendor enlistment, and more. <a
                    href="https://play.google.com/store/apps/details?id=com.service.mochta" target="_blank">Citizen
                    App</a> | <a href="https://play.google.com/store/apps/details?id=com.mochta.admin.mochta_admin"
                    target="_blank">Office App</a></p>
                <p>5. Rubims App: Designed & Developed apps for Supervisers use with user authentication, dashboards,
                  Inspection app to calculate health condition and inventory of bridges/culverts. and more. <a
                    href="https://play.google.com/store/apps/details?id=bd.gov.lged.rubims&hl=en&gl=US"
                    target="_blank">Rubims App</a></p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2021-22</span>
              </div>
              <div class="timeline-info">
                <h3><span>Mobile Application Developer</span><small>Pondit</small></h3>
                <p>
                  Contributed to the development of dynamic mobile applications, working collaboratively with cross-functional teams to align with project goals and deliver innovative solutions.
                </p>
                <p>
                  Mentored students in the Flutter Mobile Application Training program, fostering their growth and enhancing their development skills.
                </p>
                <p>
                  Developed and provided effective solutions for the Palmal Inventory app, Barcode Attendance System, and Barcode Store Management, improving operational efficiency and accuracy.
                </p>
              </div>
            </div>
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2020-21</span>
              </div>
              <div class="timeline-info">
                <h3><span>Software Engineer</span><small>genXmultiplexer</small></h3>
                <p>
                  Contributed to software development projects related to Android, working remotely with a team to deliver high-quality solutions.
                </p>
                <p>
                  Participated in various stages of the software development lifecycle, including design, integrating API, development, testing, and deployment.                </p>
              </div>
            </div>
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2020</span>
              </div>
              <div class="timeline-info">
                <h3><span>Frontend Developer</span><small>Wizard Technology Bangladesh</small></h3>
                <p>
                  Developed user-facing features for web applications, ensuring responsiveness and usability across devices.
                </p>
                <p>
                  Collaborated with backend developers and designers to implement front-end solutions based on project requirements.
                </p>
              </div>
            </div>
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2018-19</span>
              </div>
              <div class="timeline-info">
                <h3><span>Internship</span><small>naztech Inc</small></h3>
                <p>
                  Served as an intern under FTFL (LICT Training program), gaining experience in Java, HTML, CSS, and JavaScript.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <h2 class="mb-4 mobile-mt-2">Educations</h2>

          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2021</span>
              </div>
              <div class="timeline-info">
                <h3><span>Certified Flutter Mobile App Developer</span><small>Pondit</small></h3>
                <p>Complete training 70hr on Flutter Development on August 2021 <a rel="nofollow"
                    href="https://drive.google.com/file/d/1stHImphFSgC0nDg7ZzsV8lgXCUq5i-bH/view?usp=sharing">Certificate</a>
                </p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2018</span>
              </div>
              <div class="timeline-info">
                <h3><span>Bachelor Science</span><small>Daffodil International University</small></h3>
                <p>Completed 4 year of study on Computer Science and Engineering </p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2013</span>
              </div>
              <div class="timeline-info">
                <h3><span>Higher School Certificate</span><small>BCIC College</small></h3>
                <p>Science Group</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
